<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帮助文档</title>
    <style>
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            color: #df6659;
        }
    </style>
</head>
<body>
<div style="padding-left: 20px">
    <a href="">项目列表</a><br><br>
    <a href="">接口库</a><br><br>
    <a href="">接口调试</a><br><br>
    <a href="">后台</a><br><br>
    <a href="">账户</a>
</div>
<div style="width: 3px;height: 500px;background-color: black;position: absolute;left: 150px;top: 10px">
    &nbsp;
</div>
</body>
</html>