<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body{
            background: url("/static/login.jpg");
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        <h1>欢迎{{ username }}来到接口测试平台</h1>
        <br>
        <h3>welcome to ApiTest</h3>
        <br><br><br>
        <textarea id="tucao_input" placeholder="随便喷，匿名的" cols="50" rows="10" style="border-radius: 5px;padding-left: 10px;box-shadow: 4px 4px 9px grey"></textarea>
        <br>
        <button onclick="pei()" style="border-radius:0px 0px 50px 50px;width:100px;color: black">发送</button>
{#        <img src="/static/please.jpg" alt="抱歉，图片走丢了~" style="width: 600px">#}
    </div>
    <script>
        function pei() {
            $.get("/pei/",{
                "tucao_text":document.getElementById('tucao_input').value,
            },function (ret) {
                alert('已成功吐槽！')
            })
        }
    </script>

</body>
</html>